<head>
  <meta charset="UTF-8">
  <title>Flavor Saver</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex-column justify-space-around">
  <div class=""> 
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Flavor Saver</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <!-- If the user is logged in, show a logout button -->
          {{#if logged_in}}
          <li><a href="/">Home</a></li>
          <li><a href="/mealplanner">Meal Planner</a></li>
          <li><a href="/weekly">Weekly Calender</a></li>
          <li><a href="/">Recipes</a></li>
          <li><a href="/logout" id="logout">Log Out</a></li>
          <li><a href="mobile.html"></a></li>
          {{else}}
          <!-- Otherwise, show a link to login -->
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    <main class="">
      {{{ body }}}
    </main>

      <!-- Modal Trigger -->
    {{!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> --}}
    {{!-- <button data-target="modal1" class="btn modal-trigger">Modal</button> --}}
    <!-- Modal Structure -->
    {{!-- <script>
      let = {name:"john"}
    </script> --}}
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <div id="mealOptions"></div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <script>
      $('.modal').modal();
    </script>
    <!-- If the user is logged in, load the JS script for when they logout -->

     <script src="./js/datepicker.js"></script>

    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
  </div>
</body>

</html>