<div>
    <div style="background: url(/img/homepage.jpg) no-repeat center center fixed; background-size: cover; height: 100%;"> 
        <div class="container">
            <div style="color:blanchedalmond; font-size: 100px; position: relative; top: 168px; font-weight: bolder">Flavor Saver</div>
            <div style="color:blanchedalmond; font-size: 41px; position: relative; top: 168px"> Start planning your weekly meals </div>
        </div>
    <div>
</div>